.modalNav {
    margin-left: auto;
    margin-right: auto;
}
.modalNavList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modalNavListItem {
}
.modalNavLink {
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.2,0,0.2,1);

}
.modalNavListItem:hover .modalNavLink,.modalNavListItem:hover .modalNavLink {
    color: #9bd0d0;
}