.swiperWrapper {
  width: 100%;             
  max-width: 425px;       
  margin-left: auto;       
  margin-right: auto;      
  overflow: hidden;
}

.imgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiperImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}