.portfolioList {
        display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
.portfolioList{
        flex-direction: row;
    }
}
@media screen and (min-width: 1158px) {
.portfolioList{
        flex-direction: row;
        gap: 24px;
    }
}