.portfolioItem {
        background-color: #9efefe31;;
    padding: 16px 8px;
    text-align: center;
    border-radius: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolioItem {
        width: 234px;
    }
}
 
@media screen and (min-width: 1158px) {
    .portfolioItem{
         width: calc((100% - 2 * 24px )/3);
    }
}
