.portfolioItem {
    border-radius: 16px;
    background-color: #f5f2f2;
    padding: 8px 0px 0px 0px;  
    text-align: center;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
    
}
.portfolioItem h3 {
    margin-bottom: 8px;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
}
.portfolioItem:hover a, .portfolioItem:focus a {
    color: #71d1c3;
}
.portfolioItem:hover {
    transform: scale(1.05);
}
.portfolioItemWrapper {
    background-color: #9efefe31;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolioItem {
        width: 234px;
    }
}
 
@media screen and (min-width: 1158px) {
    .portfolioItem{
         width: calc((100% - 2 * 24px )/3);
    }
}
