  .footerInfo {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .footerList {
    display: flex;
    gap: 8px;
  }

.footerIconItem {
  display: flex;
  align-items: center;
}

.footerIconLink {
  display: flex;
  justify-content: center;
  padding: 4px;
  border: #434455 solid 1.5px;
  border-radius: 8px;

  transition-property: border-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
}

.footerIconLink:hover,.footerIconLink:focus {
  border-color: #9bd0d0;
}

.footerIconLink:hover .footerLinkIcon, .footerIconLink:focus .footerLinkIcon {
  fill: #9bd0d0;
}

.footerLinkIcon {
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footerInfo {
    display: flex;
  }

  .footerList {
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .footerInfo {
    display: flex;
  }

  .footerList {
    display: flex;
    gap: 12px;
  }
}